# MTProxyL — база секретов v1.1.4
# Формат: LABEL|SECRET|CREATED_TS|ENABLED|MAX_CONNS|MAX_IPS|QUOTA_BYTES|EXPIRES|NOTES
{% for user in vpn.users %}
{{ user.name }}|{{user.uuid}}|1783771405|true|0|0|0|0|
{% endfor %}
