[Unit]
Description=TrustTunnel endpoint
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ trusttunnel.install_dir }}
ExecStart={{ trusttunnel.install_dir }}/trusttunnel_endpoint vpn.toml hosts.toml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
