dns:
  enable: true
  ipv6: false
  prefer-h3: true
  enhanced-mode: fake-ip
  dns-hijack: []
  nameserver:
    - https://8.8.8.8/dns-query
    - https://1.1.1.1/dns-query
  default-nameserver:
    - https://8.8.8.8/dns-query
    - https://1.1.1.1/dns-query
  proxy-server-nameserver:
    - https://8.8.8.8/dns-query
    - https://1.1.1.1/dns-query
