proxies:
  {% if sudoku is defined %}
  - name: 443-tcp
    type: sudoku
    server: {{ server_address }}
    port: {{ sudoku.port }}
    key: {{ user.sudoku_key }}
    aead-method: chacha20-poly1305
    ascii: prefer_entropy
    padding-min: 5
    padding-max: 15
    enable-pure-downlink: true
    multiplex: off
    http-mask: false
    udp: true
  {% endif %}
    
  {% if mita is defined %}
  - name: mieru-udp
    type: mieru
    server: {{ server_address }}
    port-range: "{{ mita.port_range }}"
    transport: {{ mita.protocol }}
    multiplexing: MULTIPLEXING_LOW
    udp: true
    username: {{ user.name }}
    password: {{ user.password }}
  {% endif %}

  {% if trusttunnel is defined %}
  - name: trust-h2
    type: trusttunnel
    server: {{ server_address }}
    port: {{ trusttunnel.port }}
    sni: {{ certificates.domain }}
    udp: true
    skip-cert-verify: false
    quic: false
    health-check: true
    username: {{ user.name }}
    password: {{ user.password }}

  - name: trust-quic
    type: trusttunnel
    server: {{ server_address }}
    port: {{ trusttunnel.port }}
    sni: {{ certificates.domain }}
    udp: true
    skip-cert-verify: false
    quic: true
    health-check: true
    username: {{ user.name }}
    password: {{ user.password }}
  {% endif %}
