proxy-groups:
  - name: PROXY
    type: fallback
    proxies:
    {% if trusttunnel is definded %}
    - proxy-trust
    {% endif %}
    {% if sudoku is defined %}
    - 443-tcp
    {% endif %}
    {% if mita is defined %}
    - mieru-udp
    {% endif %}
    interval: 900
    lazy: false
  
  {% if trusttunnel is defined %}
  - name: proxy-trust
    type: fallback
    proxies:
    - trust-h2
    - trust-quic
    interval: 0
    lazy: false
    hidden: true
  {% endif %}
