rules:
{% if sudoku is defined and (user.rule_tiktok | default(false))  %}
  - GEOSITE,tiktok,443-tcp
{% endif %}

  - DOMAIN-KEYWORD,sex-studentki,PROXY
  - GEOSITE,pornhub,PROXY
  - GEOSITE,facebook,PROXY
  - GEOSITE,instagram,PROXY
  - GEOSITE,openai,PROXY
  - DOMAIN-KEYWORD,chatgpt,PROXY
  - GEOSITE,discord,PROXY
  - GEOSITE,youtube,PROXY
  - GEOSITE,cloudflare,PROXY
  - GEOSITE,telegram,PROXY
  - GEOIP,telegram,PROXY,no-resolve
  - IP-CIDR,194.221.250.50/32,PROXY,no-resolve
  - GEOSITE,supercell,PROXY
  - GEOSITE,github,PROXY
  - GEOSITE,google,PROXY

  - GEOSITE,category-ads-all,REJECT
  - DOMAIN-SUFFIX,betweendigital.com,REJECT
  - DOMAIN-SUFFIX,al-adtech.com,REJECT
  - DOMAIN-SUFFIX,acint.net,REJECT
  - DOMAIN-SUFFIX,nominaltechno.com,REJECT
  - DOMAIN-SUFFIX,buzzoola.com,REJECT
  - DOMAIN-SUFFIX,programmatica.com,REJECT
  - DOMAIN-SUFFIX,hybrid.a,REJECT
  - DOMAIN-SUFFIX,gonet-ads.com,REJECT
  - DOMAIN-SUFFIX,giraff.io,REJECT
  - DOMAIN-SUFFIX,adiam.tech,REJECT
  - DOMAIN-SUFFIX,suprion.ru,REJECT
  - DOMAIN-SUFFIX,ohmy.bid,REJECT
  - DOMAIN-SUFFIX,adhigh.net,REJECT
  - DOMAIN-SUFFIX,ussp.io,REJECT
  - DOMAIN-SUFFIX,bidster.net,REJECT
  - DOMAIN-SUFFIX,gonet-ads.com,REJECT
  - DOMAIN-SUFFIX,adtec.ru,REJECT
  - DOMAIN-SUFFIX,adriver.ru,REJECT
  - DOMAIN-SUFFIX,video-mech.ru,REJECT
  - DOMAIN-SUFFIX,bidderstack.com,REJECT
  - DOMAIN-SUFFIX,nashindex.ru,REJECT
  - DOMAIN-SUFFIX,utraff.com,REJECT
  - DOMAIN-SUFFIX,stbid.ru,REJECT
  - DOMAIN-SUFFIX,sm.rtb.mts.ru,REJECT
  - DOMAIN-SUFFIX,bringads.ru,REJECT
  - DOMAIN-SUFFIX,otclick-adv.ru,REJECT
  - DOMAIN-SUFFIX,ussp.io,REJECT
  - DOMAIN-SUFFIX,otm-r.com,REJECT
  - DOMAIN-SUFFIX,adspector.io,REJECT
  - DOMAIN-SUFFIX,silvermob.com,REJECT
  - DOMAIN-SUFFIX,aidata.io,REJECT
  - DOMAIN-SUFFIX,com.ru,REJECT
  - DOMAIN-SUFFIX,bumlam.com,REJECT
  - DOMAIN-SUFFIX,digitaltarget.ru,REJECT
  - DOMAIN-SUFFIX,uuidksinc.net,REJECT
  - DOMAIN-SUFFIX,tds.bid,REJECT
  - DOMAIN-SUFFIX,alfasense.com,REJECT
  - DOMAIN-SUFFIX,moe.video,REJECT
  - DOMAIN-SUFFIX,videoroll.net,REJECT
  - DOMAIN-SUFFIX,avr.i-trailer.ru,REJECT
  - DOMAIN-SUFFIX,skcrtxr.com,REJECT
  - DOMAIN-SUFFIX,upravel.com,REJECT
  - DOMAIN-SUFFIX,sttsmntz.ru,REJECT
  - DOMAIN-SUFFIX,snsv.ru,REJECT
  - DOMAIN-SUFFIX,atddmn.com,REJECT
  - DOMAIN-SUFFIX,franecki.net,REJECT
  - DOMAIN-SUFFIX,dfn-network.pro,REJECT
  - DOMAIN-SUFFIX,nogravity4.click,REJECT
  - DOMAIN-SUFFIX,ufouxbwn.com,REJECT
  - DOMAIN-SUFFIX,alloviewroll.com,REJECT
  - DOMAIN-SUFFIX,adstag0102.xyz,REJECT
  - DOMAIN-SUFFIX,trk.mail.ru,REJECT

  - MATCH,DIRECT
